/**
 *
 * Shopping Sheet - Custom Styles
 * Customize your school-specific style changes here
 *
 */

/**
========================
 Custom Colors
========================
 */
/* The following will be the overall color of the report and should 
likely be all set to the same value */
table,
.aside-group {
    border-color: #4a6686;
}

thead th,
.main-header-panel {
    background-color: #4a6686;
    color: #fff;
}

/* The following styles a panel as a callout. Currently this is used
for the "What will you pay for college" callout */
table.accent {
    border: 2px solid #898943;
}
table.accent thead th {
    background-color: #898943;
    color: #fff;
}
#other-options-list li {
    margin-bottom: 0px;
}
